<div id="map-canvas"></div>
<div id="data">
  <div class="area_data">
    <h1 class="header_title">
      Area
    </h1>

    <h2 id="area_title">
      Area
    </h2>
  </div>
  <div class="poi_data">
    <h1 class="header_title">
      POI in the area
    </h1>

    <h2 id="area_pois">
    </h2>
  </div>
  <div class="votes_data">
    <h1 class="area_votes_title">
      Area Votes
    </h1>

    <div id="area_votes">
      <div id="area_summary"></div>
      <div id="area_rights"></div>
      <div id="area_wrongs"></div>
    </div>
  </div>
  <div class=chart_data>
    <h1 class="chart_title">
      Info Charts
    </h1>

    <div class="charts">
      <div id="overall"></div>
      <div id="recognizable"></div>
    </div>
  </div>
  <div class="total_votes_data">
    <h1 class="votes_title">
      Total Votes
    </h1>

    <div id="votes">
      <div id="summary"></div>
      <div id="rights"></div>
      <div id="wrongs"></div>
    </div>
  </div>
</div>