<div id="map-canvas"></div>
<div id="data">
  <h1 class="header_title">
    Title
  </h1>
  <h2 id="area_title">
    Area
  </h2>
  <h1 class="header_title">
    POI in the area
  </h1>
  <h2 id="area_pois">

  </h2>
  <h1  class="chart_title">
    Info Charts
  </h1>
  <div class="charts">
  <div id="overall"></div>
  <div id="recognizable"></div>
  </div>

</div>
